#btn-container {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid lightblue;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

#canvas-container {
  position: relative;
  margin-left: 180px;
  margin-right: 5px;
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border: 2px solid coral;
}

#description-container {
  margin-left: 25px;
  margin-right: 200px;
  width: 300px;
  height: 600px;
  background-color: lightcyan;
  border: 2px solid coral;
}
#square-height {
  margin-left: 5px;
}
#rectangle-height {
  margin-right: 2.5px;
}
#circle-radius {
  margin-left: 5px;
}
#triangle-height {
  margin-left: 5px;
}
body {
  background-color: lightsalmon
}
#title {
  font-family: monospace;
  text-align: center;
  color:white;
}
#create-rectangle-btn {
  margin-left: 2.5px;
  font-family: monospace;
  background-color: thistle;

}
#create-square-btn {
  margin-left: 2.5px;
  font-family: monospace;
  background-color: thistle;
}
#create-circle-btn {
  margin-left: 2.5px;
  font-family: monospace;
  background-color: thistle;
}
#create-triangle-btn {
  margin-left: 2.5px;
  font-family: monospace;
  background-color: thistle;
}